Source: ros-indigo-agvs-sim-bringup
Section: misc
Priority: extra
Maintainer: Roberto Guzmán <rguzman@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/agvs_complete
Standards-Version: 3.9.2

Package: ros-indigo-agvs-sim-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The agvs_sim_bringup package. It contains multiple launch files to perform different tasks, from creating a map with gmapping to launching amcl.
